/* .card {
    position: relative;
    border: 0 !important;
}
.card__body {
    position: relative;
}
.card__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 4rem;
    font-size: 15px;
}
.card__description h4 {
    color: #fff;
    text-align: center;
    margin: 0;
}
.card__description p {
    font-style: italic;
}
.card__image {
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
}
.image__overlay {
  position: absolute; 
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.779));
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card__button {
    position: absolute;
    top: 21rem;
    width: 100%;
}
.card__button > span {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: #fff;
    padding: 10px 25px;
}
.sighting__location {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 15px;
    z-index: 1;
    left: 15px;
}
.sighting__location img {
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
} */