body {
  margin: 0;
}
html,body {
  background-color:#FFFFFF;
  font-family: "Poppins" !important;
  letter-spacing: -0.5px;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  font-family: inherit !important;
}
h1{
  font-weight: 800;
}
p {  
  font-weight: 200;
}
a {
  text-decoration: none;
  cursor: pointer;
  font-family: inherit !important;
}
button {
  cursor: pointer;
  border: 0;
  font-family: inherit !important;
}
input, :-ms-input-placeholder, ::placeholder, textarea, select { font-family:inherit !important; }

